<ion-content padding>
  <ion-fab bottom right>
    <button ion-fab mini (click)="toAbout()"><ion-icon name="help"></ion-icon></button>
  </ion-fab>
  

  <img src="assets/imgs/logoKSK.png" class="logo"/>
  <br>
  <h3 text-center>KSK Volunteer</h3>

  <form [formGroup]="loginForm">

    <ion-item class="common-padding">
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [formControl]="loginForm.controls['email']"></ion-input>
    </ion-item>

    <div *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty" class="validation-error common-padding"> 
      *Please enter a valid email.
    </div>

    <ion-item class="common-padding">
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [formControl]="loginForm.controls['password']"></ion-input>
    </ion-item>

    <div *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty" class="validation-error common-padding"> 
      *Please enter password.
    </div>

   
    <div class="common-padding" style="width: 170px; margin-left: auto">
      <p col class="forgot-password" (click)="forgotPassword()">
        Forgot password?
      </p>
    </div>
  
    <br>
    <br>

    <ion-row>
      <ion-col text-center>
        <button ion-button block [disabled]="!loginForm.valid" (click)="onLogin()">Login</button>
      </ion-col>
    </ion-row>

    
  </form>

  <ion-row>
    <ion-col text-center>
      <button ion-button clear (click)="onRegister()">Or register as a volunteer</button>
    </ion-col>
  </ion-row>

</ion-content>
