page-volunteer-profile-edit {
    // .item-inner {
    //     border-bottom: 0px !important;
    // }

    .profile-image-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        text-align: center;
    }

    .profile-image .item-inner {
        border-bottom: 0px !important;
    }
}
