<ion-header>

  <ion-navbar>
    <ion-title>{{invitation.activity_title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header color="primary">
      <b>Details</b>
    </ion-card-header>
    

    <ion-list >
      <ion-item text-wrap>
        <ion-avatar item-left>
          <img src="{{invitation.profile_image}}" class="profile-image-medium">
        </ion-avatar>

        <b>{{invitation.profile_name}}</b>
        <p>{{invitation.full_name}}</p>
      </ion-item>

      <ion-item text-wrap>
        <b>Title</b>
        <p>{{invitation.activity_title}}</p>
      </ion-item>

      <ion-item text-wrap>
        <b>Date</b>
        <p>{{invitation.activity_date}}</p>
      </ion-item>

      <ion-item text-wrap>
        <b>Time</b>
        <p>{{invitation.start_time}} - {{invitation.end_time}}</p>
      </ion-item>

      <ion-item text-wrap>
        <b>Assembly Point</b>
        <p>{{invitation.assembly_point}}</p>
      </ion-item>

      <ion-item text-wrap>
        <b>Decription</b>
        <!-- <p>{{invitation.description}}</p> -->
        <div [innerHTML]="invitation.description | safe"></div>
      </ion-item>

      <ion-item text-wrap>
        <b>Remark</b>
        <!-- <p>{{invitation.remark}}</p> -->
        <div [innerHTML]="invitation.remark | safe"></div>
      </ion-item>

      <ion-item text-wrap>
        <b>Slot</b>
        <p class="{{invitation.participation_status}}">{{invitation.participation_num}}/{{invitation.slot}}</p>
      </ion-item>

      <div *ngIf="enquiryPersons && enquiryPersons.length > 0" id="enquiry-person">
        <ion-item text-wrap>
          <ion-note color="primary">For any enquiry about this activity, you may contact the following staffs: </ion-note>
        </ion-item>

        <ion-list>
          <ion-item *ngFor="let enquiryPerson of enquiryPersons"  >
            <p>{{enquiryPerson.full_name}}</p>
            <small>{{enquiryPerson.phone_no}}</small>
            <button ion-button color="primary" style="width: 65px" item-end (click)="call(enquiryPerson.phone_no)">Call</button>
          </ion-item>
        </ion-list>
      </div>

    </ion-list>
  </ion-card>

  <ion-row class="common-padding">
    <ion-col text-center>
      <button ion-button block color="danger" (click)="confirmReject()">Reject</button>
    </ion-col>

    <ion-col text-center>
      <button ion-button block color="success" (click)="confirmAccept()">Accept</button>
    </ion-col>
  </ion-row>

  <br>

</ion-content>
