<!--
  Generated template for the ActivityDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{activity.activity_title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      <b>Details</b>
    </ion-card-header>
    

    <ion-list >
      <ion-item text-wrap>
        <b>Title</b>
        <p>{{activity.activity_title}}</p>
      </ion-item>

      <ion-item text-wrap>
        <b>Date</b>
        <p>{{activity.activity_date}}</p>
      </ion-item>

      <ion-item text-wrap>
        <b>Time</b>
        <p>{{activity.start_time}} - {{activity.end_time}}</p>
      </ion-item>

      <ion-item text-wrap>
        <b>Assembly Point</b>
        <p>{{activity.assembly_point}}</p>
      </ion-item>

      <ion-item text-wrap>
        <b>Description</b>
        <!-- <p>{{activity.description}}</p> -->
        <!-- <div [innerHTML]="sanitizer.bypassSecurityTrustStyle(activity.description)"></div> -->
        <div [innerHTML]="activity.description | safe"></div>
      </ion-item>

      <ion-item text-wrap>
        <b>Remark</b>
        <!-- <p>{{activity.remark}}</p> -->
        <!-- <div [innerHTML]="sanitizer.bypassSecurityTrustStyle(activity.description)"></div> -->
        <div [innerHTML]="activity.remark | safe"></div>
      </ion-item>

      <ion-item text-wrap>
        <b>Slot</b>
        <p class="{{activity.participation_status}}">{{activity.participation_num}}/{{activity.slot}}</p>
      </ion-item>

      <div *ngIf="enquiryPersons && enquiryPersons.length > 0" id="enquiry-person">
        <ion-item text-wrap>
          <ion-note>For any enquiry about this activity, you may contact the following staffs: </ion-note>
        </ion-item>

        <ion-list>
          <ion-item *ngFor="let enquiryPerson of enquiryPersons"  >
            <p>{{enquiryPerson.full_name}}</p>
            <small>{{enquiryPerson.phone_no}}</small>
            <button ion-button color="primary" style="width: 65px" item-end (click)="call(enquiryPerson.phone_no)">Call</button>
          </ion-item>
        </ion-list>
      </div>

    </ion-list>
  </ion-card>

  <ion-card *ngIf="activity.response == 'Join' || activity.response == 'Absent' || activity.response == 'Present'" id="my-group">
    <!-- <ion-card-header color="primary">
      <b>My Group</b>
      <ion-icon name="people" item-right></ion-icon>
    </ion-card-header> -->
    <ion-item>
      <b class="text-primary">My Group</b>
      <button *ngIf="activity.participation_status == 'Available' && activity.action != 'None'" ion-button clear item-right (click)="invite(activity)">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-item>
    
    <ion-card-content *ngIf="participants && participants.length == 0">
      <ion-note>Empty</ion-note>
    </ion-card-content>

    <ion-list *ngIf="participants && participants.length > 0">
      <ion-item *ngFor="let participant of participants"  >
        <ion-avatar item-left>
          <img src="{{participant.profile_image}}" class="profile-image-medium">
        </ion-avatar>
        <b>{{participant.profile_name}}</b>
        <p>{{participant.full_name}}</p>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-row *ngIf="activity.action != 'None'">
    <ion-col text-center class="common-padding">
      <button ion-button block (click)="doResponse(activity.action)">{{activity.action}}</button>
    </ion-col>
  </ion-row>

  <br>

</ion-content>
