page-history {
    .volunteer-hours {
        border-style: solid !important;
        border-color: #488aff !important;
        border-width: 1px;
        border-radius: 10px !important;
        padding: 5px;
    }
}
