<ion-header>

  <ion-navbar>
    <ion-title>Reset Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="resetPasswordForm">
    <!-- current password -->
    <ion-item class="common-padding">
      <ion-label stacked >Current Password</ion-label>
      <ion-input type="{{typeCurrentPass}}" [formControl]="resetPasswordForm.controls['current_password']" maxLength="20"></ion-input>

      <button *ngIf="!showCurrentPass" ion-button clear color="dark" class="toggle-margin" type="button" item-right (click)="showCurrentPassword()"> <ion-icon name="ios-eye-off"></ion-icon></button>
      <button *ngIf="showCurrentPass" ion-button clear color="dark" class="toggle-margin" type="button" item-right (click)="showCurrentPassword()"> <ion-icon name="ios-eye"></ion-icon></button>
    </ion-item>

    <div *ngIf="!resetPasswordForm.controls.current_password.valid && resetPasswordForm.controls.current_password.dirty" class="validation-error common-padding"> 
      *Please enter a valid password (at least 8 characters).
    </div>

    <!-- password -->
    <ion-item class="common-padding">
      <ion-label stacked >Password</ion-label>
      <ion-input type="{{type}}" [formControl]="resetPasswordForm.controls['password']" maxLength="20"></ion-input>

      <button *ngIf="!showPass" ion-button clear color="dark" class="toggle-margin" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off"></ion-icon></button>
      <button *ngIf="showPass" ion-button clear color="dark" class="toggle-margin" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye"></ion-icon></button>
    </ion-item>

    <div *ngIf="!resetPasswordForm.controls.password.valid && resetPasswordForm.controls.password.dirty" class="validation-error common-padding"> 
      *Please enter a valid password (at least 8 characters).
    </div>

    <!-- password confirmation -->
    <ion-item class="common-padding">
      <ion-label stacked >Confirm Password</ion-label>
      <ion-input type="{{type}}" [formControl]="resetPasswordForm.controls['password_confirmation']" maxLength="20"></ion-input>
    </ion-item>

    <div *ngIf="!resetPasswordForm.controls.password_confirmation.valid && resetPasswordForm.controls.password_confirmation.dirty" class="validation-error common-padding"> 
      *Password mismatched.
    </div>

    <br>

    <ion-row>
      <ion-col text-center>
        <button ion-button block [disabled]="!resetPasswordForm.valid" (click)="onResetPassword()">Save</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
